* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sofia Pro Light';
    src: url('assets/fonts/Sofiapro\ Light.otf');
}

body {
    font-family: 'Sofia Pro Light', Times;
}
