* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('assets/fonts/Coco-Gothic-Light.ttf');
    font-weight: 100 400;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('assets/fonts/Coco-Gothic-Regular.ttf');
    font-weight: 400 500;
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('assets/fonts/Coco-Gothic-Bold.ttf');
    font-weight: 700 900;
}

body {
    font-family: 'Coco Gothic', Times;
}
